* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  /* background: url("/src/night-background.jpg"); */
  background: url("../src/forest-background.png");
  background-size: 100%;
  font-family: "Press Start 2P";
}

#instruction-board {
  width: 40rem;
  height: 25rem;
  border: 2px solid rgba(22, 24, 38, 255);
  box-shadow: -1px 0px 8px 8px rgba(211, 211, 211, 0.14);
  margin: 10vh auto;
  padding: 2rem;
  font-size: 0.75rem;
  background: rgba(211, 211, 211, 0.427);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#start-btn {
  background-color: #48882c;
  padding: 0.75rem;

  text-decoration: none;
  color: black;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

#start-btn:hover {
  cursor: pointer;
  background-color: #4a6440;
}

#moth-img {
  height: 2rem;
  width: 1.5rem;
}
