* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

h1 {
  font-family: Pixelify Sans;
  font-size: 5rem;
  text-align: center;
  /* margin: 0 auto; */
}

.gameArea {
  display: flex;
}

#board {
  position: relative;
  width: 40rem;
  height: 20rem;
  margin: 10vw auto;
}

#board-background {
  width: 40rem;
  height: 20rem;
}

#batPlayer {
  position: absolute;
  z-index: 1;
  transform: scaleX(-1);
}
