* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  /* background: url("/src/night-background.jpg"); */
  background: url("../src/forest-background.png");
  background-size: 100%;
  font-family: "Press Start 2P";
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: grey;
  margin-top: 2rem;
}

audio {
  display: hide;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;

  align-items: center;
  margin: 0px 2rem;
}

#arrowKeys {
  width: 10rem;
  filter: drop-shadow(5px 5px 5px rgba(211, 211, 211, 0.466));
  margin-top: 5rem;
}
#board {
  position: relative;
  width: 40rem;
  height: 20rem;
  margin: 5vw 6rem;
}

#board-background {
  width: 40rem;
  height: 20rem;
  border: 2px solid rgba(22, 24, 38, 255);
  box-shadow: -1px 0px 8px 8px rgba(211, 211, 211, 0.466);
  filter: brightness(60%);
}

.gameInfo {
  color: grey;
  margin-top: 3rem;
}

#batPlayer {
  position: absolute;
  z-index: 1;
  /* height: 64px;
  width: 48px; */

  background: url("../src/bat-flappy.png") 0px 0px;
  background-size: 12rem;
}

#test-bat {
  height: 64px;
  width: 48px;

  background: url("../src/bat-flappy.png") 0px 0px;
}

#energyLevel {
  justify-self: center;
}

.instructions {
  color: grey;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
